#container {
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    border: 1px solid black;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;    
}

#search {
    width: 55%;
    height: 30px;
    margin-top: 35px;
    border-radius: 10px;
    border: 1px solid black;
}

#info {
    margin-top: 50px;
    height: 55%;
    width: 55%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    align-items: center;
    
}

#five-day {
    margin-top: 30px;
    width: 90%;
    height: 17%;
    border: 1px solid black;
    border-radius: 10px;
}

#temperature {
    color: black;
    font-family: 'Signika', sans-serif;
    font-size: 50px;

}

#high-low {
    font-size: 13px;
    /* margin-top: 0px; */
}

#high {
    padding-right: 5px;
}