/* body {
    font-family: 'Signika', sans-serif;
} */

#container {
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 70px;
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;    
}

#search {
    width: 55%;
    height: 30px;
    margin-top: 35px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; 
}

#info {
    margin-top: 50px;
    height: 45%;
    width: 70%;
    /* border: 1px solid black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    align-items: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; 
    
}

#five-day {
    margin-top: 30px;
    width: 90%;
    height: 17%;
    /* border: 1px solid black; */
    border-radius: 10px;
    display: flex;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; 
}


#temperature {
    color: black;
    font-family: 'Signika', sans-serif;
    font-size: 50px;

}

#high-low {
    font-size: 13px;
    /* margin-top: 0px; */
}

#high {
    padding-right: 5px;
}

.days {
    width: 21%;
    height: 100%;
    /* border: 1px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.days>h3{
    color:black;
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 18px;
}

.days>div:first-of-type{
    color:black;
    font-size: 30px;
    padding-top: 2px;
}

.days>div{
    font-size: 12px;
}

#specific {
    display: flex;
    /* border: 1px solid red; */
    height: 200px;
    width: 85%;
    align-items: center;
    
}

#specific-left {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    height: 170px;
    width: 48%;
    justify-content: space-between;
    padding-bottom: 30px;
}


#specific-right {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    height: 170px;
    width: 48%;
    justify-content: space-between;
    padding-bottom: 30px;   
    
}

.icon-box{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
}

.icon-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.fa-solid{
    font-size: 40px;
}

#five-day .fa-solid {
    padding-top: 10px;
    font-size: 18px;
}